<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":3,"row":1,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":4,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":4,"row":4,"size_x":1,"size_y":1},{"col":3,"row":5,"size_x":2,"size_y":1},{"col":1,"row":5,"size_x":2,"size_y":1}]')

  setTimeout(function() {
    $(".gridster ul").gridster().data('gridster').disable();
  }, 1000);

});
  
</script>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_humidity" data-view="Number" data-title="humidity" data-moreinfo="% Rh" data-prefix="" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_temperature" data-view="Number" data-title="temperature" data-moreinfo="Temperature, C" data-prefix=""
      data-suffix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_humidity" data-view="Meter" data-title="Humidity 1" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_temperature" data-view="Meter" data-title="Temperature 1" data-min="0" data-max="50"></div>
    </li>
<!-- 
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_watt" data-view="Meter" data-title="WATT" data-min="0" data-max="50"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_money" data-view="Meter" data-title="MONEY" data-min="0" data-max="100"></div>
    </li> -->

    <!--<li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>-->

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heap" data-view="Number" data-title="heap" data-moreinfo="kb" data-prefix="" data-suffix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="counter" data-view="Number" data-title="counter" data-moreinfo="times" data-prefix="" data-suffix=""></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rssi" data-view="Number" data-title="rssi" data-moreinfo="db" data-prefix="" data-suffix=""></div>
    </li>
            
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="seconds" data-view="Number" data-title="seconds" data-moreinfo="s" data-prefix="" data-suffix=""></div>
    </li>        


<!-- 
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_watt" data-view="Number" data-title="Power" data-moreinfo="watt" data-prefix="" data-suffix=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="xively_data_money" data-view="Number" data-title="Cost" data-moreinfo="Baht" data-prefix=""
      data-suffix=""></div>
    </li>
 -->
    <!--     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weather" data-view="Text"></div>
    </li> -->
  </ul>
</div>